*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
#circle {
   width: 200px;
   height: 200px;
   cursor: move;
   background: radial-gradient(#faf172b0, #6237ff, #ff0000);
   border-radius: 50%;
   position: absolute;
   z-index: 9;
}
.div1{
    width: 200px;
    height: 200px;
    background: #ff0000;
    border: 2px solid black;
    margin-bottom:20px ;
}
.div2{
    width: 200px;
    height: 200px;
    background: green;
    border: 2px solid black;
}
